@import 'tailwindcss';

@theme {
  --color-pink-400: hsl(0, 36%, 70%);
  --color-red-500: hsl(0, 93%, 68%);
  --color-gray-900: hsl(0, 6%, 24%);
  --linear-1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --linear-2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

.background {
  background-image: var(--linear-1);
}

.submit {
  background-image: var(--linear-2);
}

.submit:hover {
  background-image: linear-gradient(
    135deg,
    hsla(0, 80%, 86%, 0.9),
    hsla(0, 74%, 74%, 0.9)
  );
}
